@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,dt,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{/*font:12px "宋体","Arial Narrow",HELVETICA;*/font-size:12px;background:#fff;}
a{color:#172c45;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.ind{text-indent:2em} 
.ind10{text-indent:10px;}
.noborder{border:0;}
.left{float:left;}
.right{float:right;}
.clearBoth{clear:both;}
.font12{font-size:12px;}
